:root {
    --bg-i-clr: hsl(183, 90%, 5%);
    --thmBtnBg-clr: hsl(183, 80%, 12%);
    --nptFcsBg-clr: hsl(40, 60%, 25%);
    --btMsgBg-clr: hsla(183, 60%, 12%, 0.65);
    --usrMsgBg-clr: hsla(40, 80%, 15%, 0.65);
    --nptBg-clr: hsl(40, 35%, 30%);
    --mn-clr: hsl(40, 85%, 50%);
    --thmCrsnt-clr: hsl(168, 26%, 69%);
    --nptPh-ftr-clr: hsl(40, 70%, 70%);
    --npt-msg-clr: hsl(40, 25%, 85%);
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
}
::selection {
    background-color: var(--thmCrsnt-clr);
    color: var(--bg-i-clr);
}
body,
html {
    height: 100%;
    display: flex;
    flex-direction: column;
    background-color: var(--bg-i-clr);
    font-family: "Roboto", sans-serif;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5em;
    box-shadow: 0px 1em 10px 10px var(--bg-i-clr);
    z-index: 1;
    padding-bottom: 0;
}
header > h1 {
    font-size: 0.9em;
    color: var(--mn-clr);
    margin-left: 0.4em;
}
.theme-switch {
    font-size: 0.6em;
    position: relative;
    display: inline-block;
    width: 3.5em;
    height: 2em;
}
.theme-switch input {
    visibility: hidden;
}
.theme-switch .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--thmBtnBg-clr);
    transition: 0.5s;
    border-radius: 30px;
}
.theme-switch .slider:before {
    position: absolute;
    content: "";
    height: 1.4em;
    width: 1.4em;
    border-radius: 50%;
    left: 10%;
    bottom: 15%;
    box-shadow: inset 0.4em -0.1em 0em 0.1em var(--thmCrsnt-clr);
    transition: 0.5s;
}
.theme-switch input:checked + .slider {
    background-color: var(--thmBtnBg-clr);
}
.theme-switch input:checked + .slider:before {
    transform: translateX(100%);
    box-shadow: inset 1em 0em 0em 1em var(--thmCrsnt-clr);
}

main {
    flex-grow: 1;
    overflow-y: auto;
    scrollbar-width: thin;
    scrollbar-color: var(--mn-clr) transparent;
    padding-inline: 0.6em;
    position: relative;
}
main::after {
    content: "";
    position: fixed;
    bottom: 0;
    right: 0;
    width: 10px;
    height: 100px;
    z-index: 1;
    background-image: linear-gradient(
        0deg,
        var(--bg-i-clr) 0%,
        var(--bg-i-clr) 65%,
        transparent 100%
    );
}
@media (max-width: calc(78.5ch + 6em)) {
    main::after {
        display: none;
    }
}
main > .wrapper {
    max-width: 75ch;
    margin-inline: auto;
}
main > .wrapper :first-child {
    margin-top: 2em;
}
.message {
    width: fit-content;
    max-width: 90%;
    width: clamp(fit-content, 90%, 100%);
    padding: 1em;
    margin-bottom: 1em;
    color: var(--npt-msg-clr);
    line-height: 1.5;
}
.message.user {
    background-color: var(--usrMsgBg-clr);
    margin-left: auto;
    border-radius: 20px 20px 0 20px;
}
.message.bot {
    background-color: var(--btMsgBg-clr);
    border-radius: 20px 20px 20px 0;
}

section {
    padding-inline: 0.5em;
}
form {
    display: flex;
    justify-content: center;
    gap: 0.35em;
    width: 100%;
    max-width: 78.5ch;
    margin-inline: auto;
}
form > * {
    padding: 0.5em;
}
form textarea {
    flex-grow: 1;
    border: none;
    background-color: var(--nptBg-clr);
    color: var(--npt-msg-clr);
    font-family: inherit;
    border-radius: 20px;
    padding: 1em;
    resize: none;
    scrollbar-width: none;
}
form textarea::placeholder {
    color: var(--nptPh-ftr-clr);
}
form textarea:focus {
    background-color: var(--nptFcsBg-clr);
}
form button {
    min-width: 4em;
    cursor: pointer;
    background-color: var(--mn-clr);
    color: var(--bg-i-clr);
    border-radius: 20px;
}

footer {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 0.4em;
    font-size: 0.625rem;
}
footer p {
    margin-inline: 0.88em;
    padding: 0.1em 0 0.1em 0;
    color: var(--nptPh-ftr-clr);
}
