/* colors:
    - monochromatic: #00160c #9bbc90
    - light-now: #dcdcbb;
    - main-now: #91c5c9;
 */

:root {
    --drkx-clr: hsl(144, 73%, 10%);
    --drk-clr: hsl(144, 60%, 23%);
    --main-clr: hsl(144, 79%, 41%);
    --lt-clr: hsl(144, 20%, 60%);
    --ltx-clr: hsl(144, 30%, 80%);
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    border-radius: 6px;
}
body,
html {
    height: 100%;
    display: flex;
    flex-direction: column;
    background-color: var(--drkx-clr);
    font-family: "Roboto", sans-serif;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5em;
}
header > h1 {
    font-size: 0.9em;
    color: var(--main-clr);
    margin-left: 0.4em;
}
.theme-switch {
    font-size: 0.6em;
    position: relative;
    display: inline-block;
    width: 3.5em;
    height: 2em;
}
.theme-switch input {
    visibility: hidden;
}
.theme-switch .slider {
    --background: #28096b;
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--background);
    transition: 0.5s;
    border-radius: 30px;
}
.theme-switch .slider:before {
    position: absolute;
    content: "";
    height: 1.4em;
    width: 1.4em;
    border-radius: 50%;
    left: 10%;
    bottom: 15%;
    box-shadow: inset 0.4em -0.1em 0em 0.1em #fff000;
    background: var(--background);
    transition: 0.5s;
}
.theme-switch input:checked + .slider {
    background-color: #522ba7;
}
.theme-switch input:checked + .slider:before {
    transform: translateX(100%);
    box-shadow: inset 1em 0em 0em 1em #fff000;
}

main {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5em;
}
main > .message-box {
    flex-grow: 1;
    width: 100%;
    max-width: 75ch;
}
main > form {
    display: flex;
    justify-content: center;
    gap: 0.35em;
    width: 100%;
    max-width: 78.5ch;
}
form > * {
    padding: 0.5em;
}
form input {
    flex-grow: 1;
    border: none;
    background-color: var(--drk-clr);
    color: var(--ltx-clr);
}
form input::placeholder {
    color: var(--lt-clr);
}
form button {
    min-width: 4em;
    cursor: pointer;
    background-color: var(--main-clr);
    color: var(--drkx-clr);
}

footer {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 0.4em;
    font-size: 0.625rem;
}
footer p {
    margin-inline: 0.88em;
    color: var(--ltx-clr);
}
